/* @import "https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css"; */

:root {
  /* 見出しのフォント */
  --vs--heading-font-family: "Noto Sans JP";
  --vs--heading-font-weight: 700;

  /* 太字のフォント */
  --vs--bold-font-family: "Noto Sans JP";
  --vs-font-weight-bold: 500;

  /* 本文のフォント */
  --vs-font-family: "Noto Serif JP";

  /* 等幅のフォント */
  --vs--monospace-font-family:
    Consolas, Monaco, "Andale Mono", "Ubuntu Mono", "源ノ角ゴシック Code JP", "ＭＳ ゴシック",
    monospace;

  /* ページ左上の内容を表示しないときはコメントアウトを外す */
  /* --vs-page--mbox-content-top-left: none; */

  /* 表の見出しの設定 */
  --vs--th-font-weight: var(--vs-font-weight); /* 太字にしない */
  --vs--th-font-family: var(--vs-font-family); /* ゴシック体でなく明朝体にする */
}

/* 一番左端の列の右に縦線を入れる */
tr > :first-child {
  border-inline-end-width: var(--vs--table-border-width);
}

/* 執筆者名の文字を大きくする */
/* .author {
  font-size: large;
} */

/* pre コードブロック */
pre {
  --vs--blockquote-margin-block: 0;
  --vs--blockquote-margin-inline: 0;
  --vs--figure-margin-block: 0;
  --vs--figure-margin-inline: 0;
  --vs--pre-margin-block: 0;
  --vs--pre-margin-inline: 0;
  border: var(--vs-theme--frame-border);
  box-decoration-break: var(--vs-theme--frame-box-decoration-break);
  margin-block: var(--vs-theme--frame-margin-block);
  margin-inline: var(--vs-theme--frame-margin-inline);
  padding: var(--vs-theme--frame-padding);
  position: relative;
  break-inside: avoid;
}

/* 数式と定理のカウンタをリセット */
h2 {
  counter-reset: equation theorem;
}

.theorem {
  --vs--blockquote-margin-block: 0;
  --vs--blockquote-margin-inline: 0;
  --vs--figure-margin-block: 0;
  --vs--figure-margin-inline: 0;
  --vs--pre-margin-block: 0;
  --vs--pre-margin-inline: 0;
  border: var(--vs-theme--frame-border);
  box-decoration-break: var(--vs-theme--frame-box-decoration-break);
  margin-block: var(--vs-theme--frame-margin-block);
  margin-inline: var(--vs-theme--frame-margin-inline);
  padding: var(--vs-theme--frame-padding);
  position: relative;
  break-inside: avoid;

  /* 定理環境のカウンタを一つ上げる */
  counter-increment: theorem;
}

.theorem-heading {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: white;
  padding: 5px 10px;
  font-family: var(--vs--heading-font-family);
}

.theorem-heading::before {
  /* 定理環境のカウンタを使うときはコメントアウトを外す */
  content: "例 " counter(vs-counter-sec-h2) "." counter(theorem) ". ";
}

/* .theorem-content { */
/* 中身のスタイル */
/* } */

.equation {
  position: relative;
  padding-right: 2em;

  counter-increment: equation;
  /* 数式番号を1上げる */
}

.equation::after {
  /* 数式番号を表示 */
  /* content: "(" counter(equation) ")"; */
  content: "(" counter(vs-counter-sec-h2) "." counter(equation) ")";

  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  /* 垂直方向に中央揃え */
}

/* hrで改ページ */

hr.page-wrap {
  break-before: page;
  visibility: hidden;
  margin: 0px;
  padding: 0px;
  height: 1px;
}

/* 画像を横に並べる用のコンテナ */
/* ![Caption](path/file.png){.fig #fig-01 width=320} のように、横幅を指定する必要あり */
.image-container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.fig-ref::after {
  content: "図" target-counter(attr(href url), vs-counter-fig);
}

a {
  text-decoration: none;
}
